@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'swiper/css';
@import 'swiper/css/free-mode';
@import 'swiper/css/navigation';
@import 'swiper/css/thumbs';

html {
	scroll-behavior: smooth;
}

.disabled {
	pointer-events: none;
	cursor: default;
	text-decoration: none;
	opacity: 0.2 !important;
}

.open-menu {
	opacity: 1;
	transform: scale(1);
}

.close-menu {
	opacity: 0;
	transform: scale(0.8);
	left: 25rem !important;
}

blockquote {
	margin: 0 0 25px 20px;
	color: #555;
	line-height: 20px;
	font-family: georgia, garamond, serif;
	font-style: italic;
	padding: 0 0 0 15px;
	border-left: 1px solid #ccc;
}

#loader-container {
	height: 100%;
	width: 100%;
}

#circles {
	height: 300px;
	width: 300px;
	border-bottom: 3px solid #535353;
	border-radius: 50%;
	animation: spin calc(1s * 5) linear infinite;
}
#circles:before {
	border-top: 3px solid #ffffff;
	height: 290px;
	width: 290px;
	margin: 5px;
	border-radius: 50%;
	display: inline-block;
	content: '';
	animation: spin calc(1s * 4) linear infinite;
}
#circles:after {
	border-left: 3px solid #353535;
	height: 280px;
	width: 280px;
	margin: 15px 10px;
	border-radius: 50%;
	position: absolute;
	left: 0;
	display: inline-block;
	content: '';
	animation: spin calc(1s * 2) linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes circle {
	0% {
		transform: rotateY(0deg);
	}
	40% {
		transform: rotateY(360deg);
	}
	100% {
		transform: rotateY(360deg);
	}
}


